{
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "packages/shadcn-ui/src/styles/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
